<% include header.ejs %>
 <script src="/bower_components/d3-tip/index.js"></script>
<script src="/javascripts/category_average.js"></script>
<link rel='stylesheet' href='/stylesheets/category_average.css'/>	

 

<div class="container" style="margin:20px">

</div>




<div class='page'>

</div>
<% include footer.ejs %>