<% include header.ejs %>
<script src="/bower_components/jQuery-Pagination-Plugin/js/jquery.yzePagination.min.js"></script>
<script src="/javascripts/list.js"></script>
 

   <div class='page'> 	
	<table id='list_table' class="table table-bordered table-condensed table-hover table-striped dataTable no-footer">
		<thead>
			<tr>						
				<th>组织机构</th>
				<th>终端名称</th>
				<th>终端编号</th>
				<th>栏目名称</th>
				<th>点击次数</th>
				<th>点击日期</th>
			</tr>
		</thead>
		<tbody>
			
					</tbody>
	</table>
	<div id='pagination'></div>
	</div>



<% include footer.ejs %>