<html>
  <head>
    <title>Login</title>
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.min.css">
    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="/bower_components/moment/min/moment.min.js"></script>
    <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/bower_components/d3/d3.min.js"></script>
    <script type="text/javascript" src="/bower_components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
    <link rel="stylesheet" href="/bower_components/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css" />
    <link rel='stylesheet' href='/stylesheets/login.css'/>  
  </head>
  <body>
  <div class="container">


<div class="row">
        <div class="col-sm-6 col-sm-offset-3 form-box">
        	<div class="form-top">
        		<div class="form-top-left">
        			<h3>登录进站</h3>
            		<p>请输入用户名与密码</p>
        		</div>
        		<div class="form-top-right">
        			<i class="fa fa-key"></i>
        		</div>
            </div>
            <div class="form-bottom">
                <form role="form" action="" method="post" class="login-form">
                	<div class="form-group">
                		<label class="sr-only" for="username">用户名</label>
                    	<input type="text" name="username" placeholder="用户名" class="form-username form-control" id="username">
                    </div>
                    <div class="form-group">
                    	<label class="sr-only" for="password">密码</label>
                    	<input type="password" name="password" placeholder="密码" class="form-password form-control" id="password">
                    </div>
                    <button type="submit" class="btn">登录</button>
                </form>
            </div>
        </div>
    </div>

    </div>
</body>
</html>